<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="easy-poll-test">
			<directory>
				./tests/phpunit/EasyPollTest.php
			</directory>
			<exclude></exclude>
		</testsuite>
	</testsuites>
</phpunit>
