<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	verbose="true"
	testdox="true"
	>
	<testsuites>
		<testsuite name="easy-poll-test">
			<directory>tests/PHPUnit/EasyPollTest.php</directory>
		</testsuite>
		<testsuite name="enqueue-class-test">
			<directory>tests/PHPUnit/EnqueueTest.php</directory>
		</testsuite>
	</testsuites>
</phpunit>
