
  .ep-ep-modal-wrapper:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .opened:before {
    display: block;
  }
  .opened .ep-modal-dialog {
    background-color: #0000005e;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .ep-modal-dialog {
    border: #333333 solid 0px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    /* this is what centers your element in the fixed wrapper*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* aligns on vertical for column */
    align-items: center; /* aligns on horizontal for column */

    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    .ep-modal-content {
      width: 60%;
      height: auto;
      background-color: #fff;
      box-sizing: border-box;
      box-shadow:0 5px 10px rgba(0,0,0,0.3);
      @media screen and (max-width: 992px) {
        width: 80%;
      }
    }
    .ep-modal-body {
      padding: 20px;
    }
    .ep-modal-header,
    .ep-modal-footer {
      padding: 10px 20px;
    }
    .ep-modal-header {
      border-bottom: #eeeeee solid 1px;
    }
    .ep-close-modal {
      cursor: pointer;
      font-size: 20px;
    }
  }
