// Prefix
$prefix: ep;

// Default styles
.#{$prefix}-wrapper {
	input {
		width: 100%;
	}
	a {
		text-decoration: none;
	}
}
// Flex utilities.
.#{$prefix}-row,
.#{$prefix}-d-flex {
	display: flex;
}

.#{$prefix}-justify-between {
	justify-content: space-between;
}
.#{$prefix}-justify-start {
	justify-content: flex-start;
}
.#{$prefix}-justify-end {
	justify-content: flex-end;
}
.#{$prefix}-align-center {
	align-items: center;
}
.#{$prefix}-align-start {
	align-items: flex-start;
}
.#{$prefix}-align-end {
	align-items: flex-end;
}
.#{$prefix}-gap-10 {
	gap: 10px;
}
.#{$prefix}-gap-5 {
	gap: 5px;
}
.#{$prefix}-gap-20 {
	gap: 20px;
}

.#{$prefix}-col-1 {
	flex-basis: 8%;
}
.#{$prefix}-col-2 {
	flex-basis: 16%;
}
.#{$prefix}-col-3 {
	flex-basis: 24%;
}
.#{$prefix}-col-4 {
	flex-basis: 32%;
}
.#{$prefix}-col-5 {
	flex-basis: 40%;
}
.#{$prefix}-col-6 {
	flex-basis: 48%;
}
.#{$prefix}-col-7 {
	flex-basis: 56%;
}
.#{$prefix}-col-8 {
	flex-basis: 64%;
}
.#{$prefix}-col-9 {
	flex-basis: 72%;
}
.#{$prefix}-col-10 {
	flex-basis: 80%;
}
.#{$prefix}-col-11 {
	flex-basis: 88%;
}
.#{$prefix}-col-2 {
	flex-basis: 96%;
}

// Space utilities.
.#{$prefix}-mt-10 {
	margin-top: 10px;
}
.#{$prefix}-mb-10 {
	margin-bottom: 10px;
}
.#{$prefix}-ml-10 {
	margin-left: 10px;
}
.#{$prefix}-mr-10 {
	margin-right: 10px;
}
.#{$prefix}-mt-20 {
	margin-top: 20px;
}
.#{$prefix}-mb-20 {
	margin-bottom: 20px;
}
.#{$prefix}-ml-20 {
	margin-left: 20px;
}
.#{$prefix}-mr-20 {
	margin-right: 20px;
}
.#{$prefix}-ml-30 {
	margin-left: 30px;
}
.#{$prefix}-mr-30 {
	margin-right: 30px;
}
.#{$prefix}-mt-30 {
	margin-top: 30px;
}
.#{$prefix}-mb-30 {
	margin-bottom: 30px;
}

.#{$prefix}-pt-10 {
	padding-top: 10px;
}
.#{$prefix}-pb-10 {
	padding-bottom: 10px;
}
.#{$prefix}-pl-10 {
	padding-left: 10px;
}
.#{$prefix}-pr-10 {
	padding-right: 10px;
}
.#{$prefix}-pt-20 {
	padding-top: 20px;
}
.#{$prefix}-pb-20 {
	padding-bottom: 20px;
}
.#{$prefix}-pl-20 {
	padding-left: 20px;
}
.#{$prefix}-pr-20 {
	padding-right: 20px;
}

// Color vars
$primary: #0d6efd;
$secondary: #6c757d;
$warning: #ffc107;
$danger: #d63384;
$success: #198754;
$white: #fff;

// Mixins
@mixin btn(
	$color: $white,
	$backgroundColor: $primary,
	$borderColor,
	$border: 1px,
	$borderRadius: 4px
) {
	color: $color;
	background-color: $backgroundColor;
	border: $border;
	border-color: $borderColor;
	border-radius: $borderRadius;
}
.#{$prefix}-btn {
	display: flex;
	justify-content: space-between;
	gap: 3px;
	align-items: center;
	cursor: pointer;
	@include btn($white, $primary, $primary);
	padding: 0.75rem 1.25rem;
	font-size: 15px;
	&.#{$prefix}-btn-secondary {
		@include btn($white, $secondary, $secondary);
	}
	&.#{$prefix}-btn-warning {
		@include btn($white, $warning, $warning);
	}
	&.#{$prefix}-btn-danger {
		@include btn($white, $danger, $danger);
	}
	&.#{$prefix}-btn-success {
		@include btn($white, $success, $success);
	}
	&.#{$prefix}-btn-sm {
		padding: 0.375rem 0.75rem;
		font-size: 12px;
	}
	&.#{$prefix}-btn-lg {
		padding: 1.75rem 2.45rem;
		font-size: 18px;
	}
	&:disabled {
		background-color: #abb2b7 !important;
		color: #fff !important;
		border-color: #6c757d !important;
        cursor: default !important;
	}
}

// Alert message
$alertPrimaryBackground: #cfe2ff;
$alertPrimaryColor: #084298;
$alertPrimaryBorderColor: #b6d4fe;

$alertWarningBackground: #fff3cd;
$alertWarningColor: #664d03;
$alertWarningBorderColor: #ffecb5;

$alertDangerBackground: #f8d7da;
$alertDangerColor: #842029;
$alertDangerBorderColor: #f5c2c7;

$alertSuccessBackground: #d1e7dd;
$alertSuccessColor: #0f5132;
$alertSuccessBorderColor: #badbcc;

@mixin alert($alertBackground, $alertColor, $borderColor ) {
	background-color: $alertBackground;
	color: $alertColor;
	border: 1px solid $borderColor;
	padding: 10px 20px;
	border-radius: 3px;
}
.#{$prefix}-alert {
	@include alert(
		$alertPrimaryBackground,
		$alertPrimaryColor,
		$alertPrimaryBorderColor
	);
	&.#{$prefix}-alert-warning {
		@include alert(
			$alertWarningBackground,
			$alertWarningColor,
			$alertWarningBorderColor
		);
	}
	&.#{$prefix}-alert-danger {
		@include alert(
			$alertDangerBackground,
			$alertDangerColor,
			$alertDangerBorderColor
		);
	}
	&.#{$prefix}-alert-success {
		@include alert(
			$alertSuccessBackground,
			$alertSuccessColor,
			$alertSuccessBorderColor
		);
	}
}

// Hidden
.ep-hidden {
	display: none;
}